<!-- this is really nasty -->
<script>
  jQuery(document).ready(function() {
  	jQuery(document.getElementById("header")).hide();
  	jQuery(document.getElementById("footer")).hide();
  });
</script>

$action.getHtml()