#set( $h = '#' )
<script>
  jQuery(document).ready(function() {
  	jQuery(document.getElementById("button-back")).click(function(e) {
      e.preventDefault();
      window.history.go(-1);
  	});
  	jQuery(document.getElementById("button-print")).click(function(e) {
      e.preventDefault();
      jQuery('${h}header, ${h}controls, ${h}footer').hide();
      jQuery('link[rel=stylesheet]').not('.required').attr('disabled', 'disabled');
      window.print();
      jQuery('link[rel=stylesheet]').removeAttr('disabled');
      jQuery('${h}header, ${h}controls, ${h}footer').show();
  	});
  	jQuery(document.getElementById("checkbox-display-child-issues")).on('change', function() {
  		if (this.checked) {
  			jQuery('.js-sub-task').show();
  		} else {
  			jQuery('.js-sub-task').hide();
  		}
  	});
  });
</script>
<style media="print">
body {
  background: #fff;
}

${h}header, ${h}controls, ${h}footer {
  /* display: none !important; */
}
</style>
<div style="margin: 10px 0 0 25px;">
  <div id="controls">
    <h1>Agile card for $action.getIssueKey()</h1>
    <div style="margin: 5px 5px 10px 0px; border: 1px dotted #aaa; padding: 10px; display: inline-block;">
      <button id="button-back" class="aui-button">Back</button><button id="button-print" class="aui-button aui-button-primary">Print</button>
      <input id="checkbox-display-child-issues" type="checkbox" checked="checked">Show child issues</input>
  	</div>
  </div>
  $action.getHtml()
</div>