<style>
.Bug {
    background-color: #c00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Documentation {
    background-color: #ffd600;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Improvement {
    background-color: #090;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Story {
    background-color: #909;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Task {
    background-color: #bfe4ff;
    color: black;
}
.Technical_task {
    background-color: #099;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Front_End {
    background-color: #6c3;
}

.bolded {
  font-weight: bold;
}

.project-info {
  width: 120px;
  text-align: center;
  vertical-align: middle;
  border-width: 0 3px 3px 0;
  border-color: black;
  border-style: solid;
}

.estimate-info {
  width: 100px;
  border-width: 0 0 3px 0;
  border-color: black;
  border-style: solid;
}

.actual-info {
  width: 100px;
  border-width: 0 0 3px 3px;
  border-color: black;
  border-style: solid;
}

.project-key {

}

.right-bar div:first-child {
  margin: -18px 0 0;
}

.sub-tasks {
  width: 100px;
  border-width: 0 0 3px 3px;
  border-color: black;
  border-style: solid;
}

.priority {
  width: 100px;
  border-width: 0 0 0 3px;
  border-color: black;
  border-style: solid;
}

.issue-number {
  font-size: 2em;
}

.summary-info {
  max-width: 210px;
  height: 230px;
}

table, th, td {
  border-spacing: 0;
  border-collapse: separate;
  vertical-align: top;
}

table {
  border: 3px solid black;
  display: inline-table;
  margin: 0 15px 15px 0;
}

.fa-3 {
  font-size: 5em;
}
</style>
<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />