  <table>
    <tbody>
      <tr>
        <td rowspan="2" class="project-info $!issueType">
          <span class="project-key">$!projectKey</span>
          <br/>
          <span class="issue-number">$!projectIssueNumber</span>
        </td>
        <td class="estimate-info">$!estimate &nbsp;</td>
        <td class="actual-info">$!owner &nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td rowspan="2" class="sub-tasks">
        	Sub-tasks <span class="bolded">($!numsubtasks)</span>
        	<br />
        	$!subtasks
        </td>
      </tr>
      <tr>
        <td colspan="2" rowspan="2" class="summary-info">
        	<span class="epic">$!epic</span>
        	<br />
        	<span class="parent">$!parent</span>
        	<br />
        	$!summary
        </td>
      </tr>
      <tr>
        <td class="priority">
        	$!priority.getPriorityName()
        	<br />
        	<i class="fa $!priority.getClassName() fa-3" style="color: $!priority.getColour();"></i>
        </td>
      </tr>
    </tbody>
  </table>