<style>
    body {
        -webkit-print-color-adjust: exact;
    }

    .Bug {
        background-color: #c00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .Documentation {
        background-color: #ffd600;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .Improvement {
        background-color: #090;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .Story {
        background-color: #909;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .Sub-task {
        background-color: #bfe4ff;
        color: black;
    }

    .Technical_task {
        background-color: #099;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .Front_End {
        background-color: #6c3;
    }

    .bolded {
        font-weight: bold;
    }

    .project-info {
        text-align: center;
        vertical-align: middle;
        border-width: 0 2px 2px 0;
        border-color: black;
        border-style: solid;
        font-size: 25px;
    }

    .estimate-info, .actual-info, .priority {
    	width: 20%;
        height: 75px;
        border-color: black;
        border-style: solid;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    
    .estimate-info .sup-text, .actual-info .sup-text, .priority .sup-text {
    	width: 100%;
    	position: absolute;
    	top: 4px;
   		left: 0px;
	}

    .estimate-info {
        border-width: 0 0 2px 0;
    }

    .actual-info {
        border-width: 0 0 2px 2px;
    }

    .estimate-info .text, .actual-info .text {
        font-size: 40px;
        display: inline-block;
    }

    .sup-text {
        font-size: 12px;
    }

    .project-key {
        display: inline-block;
    }

    .right-bar div:first-child {
        margin: -18px 0 0;
    }

    .sub-tasks {
        width: 100px;
        border-width: 0 0 0 2px;
        border-color: black;
        border-style: solid;
        padding: 4px;
    }
    
    .sub-task-list {
    	white-space: nowrap;
    	text-align: left;
    }

    .priority {
        border-width: 0 2px 2px 0;
        border-color: black;
        border-style: solid;
        text-align: center;
        padding: 4px 5px 0;
    }

    .issue-number {
        font-size: 45px;
        display: inline-block;
    }

    .summary-info {
        padding: 10px;
    }

    .spacer {
        height: 30px;
    }

    table, th, td {
        border-spacing: 0;
        border-collapse: separate;
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    table {
        border: 2px solid black;
        display: inline-table;
        margin: 0 0 3px 0;
        width: 330px;
        height: 320px;
        font-family: 'Ubuntu', sans-serif;
        table-layout: fixed;
    }

    .fa {
        font-size: 3em !important;
    }

    .label {
        background-color: #3b7fc4;
		border: 2px solid #3b7fc4;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: 0.71rem;
		font-weight: normal;
		line-height: 1.1;
		position: relative;
		padding: 1px 4px;
		text-decoration: none;
    }

    .break {
        margin: 0px;
        line-height: 8px;
    }

    ul {
        margin: 10px 0;
        padding: 0 !important;
    }

    li {
        list-style: none;
    }
</style>
<style media="print">
	@page {
	  margin: 0;
	}
	body {
	  margin: 0;
	  padding: 0;
	}
	div {
	  margin: 2px !important;
	}
	table.agile-card, table.agile-card td {
	  page-break-inside: avoid !important;
	}
</style>
<link type="text/css" class="required" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
<link type="text/css" class="required" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu"/>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  var jQuery2 = jQuery;
  jQuery.noConflict(true);
  
  jQuery2(document).ready(function($) {
  
  	// Resize text to fit as needed
  	$('.estimate-info .text, .actual-info .text, .project-key, .issue-number').each(function() {
  		var containerWidth = $(this).parent().innerWidth();
  		var spanWidth = this.scrollWidth;
  		
  		while (spanWidth > containerWidth) {
  			var fontSize = parseInt($(this).css("font-size"));
  			
  			$(this).css({fontSize: fontSize - 1});
  			spanWidth = $(this).width();
  		} 
  	});
  	
  	// Ellipsis sub-task ids
  	$('.sub-task-list li').each(function() {
  		var containerWidth = $(this).innerWidth();
  		var liWidth = this.scrollWidth;
  		var taskId = $(this).text();
  		
  		while (liWidth > containerWidth) {
  			taskId = taskId.slice(1);
  			$(this).text(taskId);
  			
  			liWidth = this.scrollWidth;
  		}
  		
  		taskId = '...' + taskId.slice(1);
  		$(this).text(taskId);  		
  	});
  	
  });
</script>